---
import Layout from "../layouts/Layout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#8f7ada" />
    <link rel="shortcut icon" href="/logo_mini_enhance.png" type="image/png" />
    <meta
      name="description"
      content="Esta es la web oficial de Talleres Marcelino en Albacete, tlf: 967226001"
    />
    <!-- OPEN GRAPH (COMO SE VE LA WEB EN LAS REDES SOCIALES)-->
    <meta property="og:title" content="Web oficial Motos Marcelino" />
    <meta property="og:site_name" content="Performarce.com" />
    <meta property="og:url" content="https://www.performarce.com" />
    <meta
      property="og:description"
      content="Web oficial de Motos Marcelino, Reparacion y venta de motocicletas y forestal, tfl:967226001"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="./../../public/logo_invert.png" />
    <meta property="og:image:alt" content="Logo de www.Performarce.com" />

    <!-- SEO -->
    <!-- en caso de tener una web en otro idioma deberiamos usar esta etiqueta -->
    <!-- <link rel="alternate" href="https://performarce.com/en" hreflang="en-GB"> -->
    <link rel="canonical" href="https://performarce.com" />
    <script>
      const divImagen = document.getElementById(".imagen") as HTMLDivElement;

      const imagenes = [
        {
          url: "/assets/H150-0226.jpg",
        },
        {
          url: "/assets/H350-0432.jpg",
        },
        {
          url: "/assets/H360-0231b.jpg",
        },
      ];

      let indiceImagenActual = 0;

      function cambiarImagen() {
        indiceImagenActual = (indiceImagenActual + 1) % imagenes.length;

        const imagenActual = imagenes[indiceImagenActual];

        //agregar y remover las animaciones
        // divImagen.classList.remove("animate-fade-out-left");
        divImagen.classList.add("animate-fade-in-right");

        //Agregar la imagen
        divImagen.style.backgroundImage = `url(${imagenActual.url})`;

        // Eliminar la clase de animación después de la transición
        setTimeout(() => {
          //   divImagen.classList.add("animate-fade-out-left");
          divImagen.classList.remove("animate-fade-in-right");
        }, 1000);
      }
      setInterval(cambiarImagen, 5000);

      // Ajusta el tiempo a la duración de la animación
    </script>

    <!-- para mover los elemento de las marcas -->
  </head>

  <!-- con tailwind agregar una imagen de fondo class="bg-[url('../public/images/tailwind.png')]" con css: style="background-image: url(https://source.unsplash.com/1800x1600/)" para meter blur en tailwindcss "blur"-->
  <body class="dark:bg-gray-900">
    <Layout title="🏍️ Performarce">
      <div class="w-full">
        <div class="flex pb-2 bg-white dark:bg-gray-900" style="height:500px;">
          <div
            class="flex items-center px-8 text-center md:w-1/2 md:px-12 lg:text-left"
          >
            <div>
              <h2
                class="text-3xl font-semibold text-gray-600 dark:text-gray-100 md:text-4xl"
              >
                <span class="text-rose-400">Motocicletas</span> y <span
                  class="text-rose-400">Forestal</span
                >
              </h2>
              <p
                class="mt-2 text-sm text-gray-500 dark:text-gray-300 md:text-base"
              >
                En Motos Marcelino tenemos decadas de experiencia en Reparacion
                y venta de maquinaria forestal y motocicletas. <br />
                No dude en contactanos.
              </p>
              <div class="mt-6 flex justify-center lg:justify-start">
                <a
                  class="rounded bg-rose-500 px-4 py-3 text-xs font-semibold text-gray-200 hover:bg-rose-600"
                  >Contactanos</a
                ><a
                  class="mx-4 rounded bg-gray-300 px-4 py-3 text-xs font-semibold text-gray-900 hover:bg-gray-400"
                  >Saber mas</a
                >
              </div>
            </div>
          </div>
          <div
            class="hidden w-1/2 md:block"
            style="clip-path:polygon(15% 0, 100% 0%, 100% 100%, 0 100%)"
          >
            <div
              id=".imagen"
              class="h-full object-cover bg-no-repeat"
              style="background-image: url(/assets/H150-0226.jpg)"
            >
              <div class="h-full bg-black opacity-50"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- marcas -->

      <div class="flex flex-col items-center">
        <!-- Texto Marcas -->
        <div
          class="relative flex w-full justify-center items-center bg-[url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Feskipaper.com%2Fimages%2Fgrass-pictures-1.jpg&f=1&nofb=1&ipt=36b716f826ddc78102f8763a19f1c870f2882c35ee7e0478e4523c983b5debb8&ipo=images')] bg-fixed bg-no-repeat"
        >
          <!-- oscurecer/gradiante -->
          <div
            class="absolute w-full bg-gradient-to-b from-gray-900 from-10% to-Custom_Black/50 h-full"
          >
          </div>
          <h3
            class="text-4xl font-bold drop-shadow-lg text-Custom_White mt-16 mb-5"
          >
            Marcas
          </h3>
        </div>
        <!--  -->

        <!-- logos forestal -->
        <div
          class="relative self-start w-full bg-[url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Feskipaper.com%2Fimages%2Fgrass-pictures-1.jpg&f=1&nofb=1&ipt=36b716f826ddc78102f8763a19f1c870f2882c35ee7e0478e4523c983b5debb8&ipo=images')] bg-fixed bg-no-repeat"
        >
          <!-- oscurecer/gradiante -->
          <div
            class="absolute w-full h-full bg-gradient-to-b from-Custom_Black/50 from-10% to-gray-900 to-95%%"
          >
          </div>

          <p class="relative ml-10 my-5 text-white font-bold text-3xl">
            Forestal
          </p>
          <!-- carrusel forestal -->
          <div
            class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]"
          >
            <ul
              class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
            >
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
            </ul>
            <!-- Para que la animacion se vea fuida debemos duplicar la lista (es redundante pero es lo que hay) info: https://dev.to/cruip_com/create-an-infinite-horizontal-scroll-animation-with-tailwind-css-2ck-->
            <ul
              class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
              aria-hidden:"true"
            >
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
              <li class="h-20 w-36 bg-white"></li>
            </ul>
          </div>
        </div>

        <!-- Logos ciclomotor -->
        <div class="self-end">
          <p>Ciclomotor</p>
        </div>
      </div>
    </Layout>
  </body>
</html>
