---
import Layout from "../layouts/Layout.astro";
import InfoCard from "../components/InfoCard.astro";
import InfoCardInverse from "../components/InfoCardInverse.astro";
---

<Layout current_page="info">
    <!-- class="divide-y divide-dotted divide-yellow-100" -->
    <main
        class="flex justify-center items-center flex-col grow dark:bg-gray-900 gap-5 py-10"
    >
        <!-- compra y venta -->
        <InfoCard>
            <a slot="title"> Compra y Venta</a>
            <a slot="content">
                Nuestra empresa vende productos tanto nuevos como usados.
                Revisados, siempre trabajamos con productos de alta calidad. Y
                Siempre con los mejores precios, garantizados.
            </a>
            <a slot="icon">
                <svg
                    class="dark:stroke-Custom_White stroke-black hover:dark:stroke-gray-50 hover:stroke-orange-700"
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path
                        d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
                    ></path><path
                        d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"
                    ></path><path d="M12.5 15.5l2 2"></path><path d="M15 13l2 2"
                    ></path></svg
                >
            </a>
            <img
                slot="image"
                class="h-60 w-full rounded object-cover sm:h-80"
                src="/assets/info/com_ven.jpg"
                alt="Imagen del taller"
            />
        </InfoCard>
        <hr
            class="my-2 h-0.5 w-48 shrink grow border-t-0 dark:bg-neutral-100 bg-orange-700/50 opacity-100 dark:opacity-50"
        />

        <!-- servicio -->
        <InfoCardInverse>
            <a slot="title"> Servicio</a>
            <a slot="content">
                Los mejores expertos en cada campo, en caso de que usted tenga.
                Alguna duda, tanto de motocicletas o scooters, como de
                jardinería. Y forestal, nosotros se la resolvemos, nuestros
                clientes son lo. Primero, por eso, nuestro personal le ofrecerá
                un trato. Excepcional.
            </a>
            <a slot="icon">
                <svg
                    class="dark:stroke-Custom_White stroke-black hover:dark:stroke-gray-50 hover:stroke-orange-700"
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    ><path
                        fill="currentColor"
                        d="M16.5 13c-1.2 0-3.07.34-4.5 1c-1.43-.67-3.3-1-4.5-1C5.33 13 1 14.08 1 16.25V19h22v-2.75c0-2.17-4.33-3.25-6.5-3.25m-4 4.5h-10v-1.25c0-.54 2.56-1.75 5-1.75s5 1.21 5 1.75zm9 0H14v-1.25c0-.46-.2-.86-.52-1.22c.88-.3 1.96-.53 3.02-.53c2.44 0 5 1.21 5 1.75zM7.5 12c1.93 0 3.5-1.57 3.5-3.5S9.43 5 7.5 5S4 6.57 4 8.5S5.57 12 7.5 12m0-5.5c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m9 5.5c1.93 0 3.5-1.57 3.5-3.5S18.43 5 16.5 5S13 6.57 13 8.5s1.57 3.5 3.5 3.5m0-5.5c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2"
                    ></path></svg
                >
            </a>
            <img
                slot="image"
                class="h-60 w-full rounded object-cover sm:h-80"
                src="/assets/info/servicio.jpg"
                alt="Imagen del taller"
            />
        </InfoCardInverse>
        <hr
            class="my-2 h-0.5 w-48 grow border-t-0 dark:bg-neutral-100 bg-orange-700/50 opacity-100 dark:opacity-50"
        />
        <!-- historia -->
        <InfoCard>
            <a slot="title"> Historia</a>
            <a slot="content">
                Talleres Marcelino lleva más de 40 años contigo, ofreciendo un
                servicio de calidad, a los mejores precios, haciendo que
                nuestros clientes estén satisfechos con los resultados.
            </a>
            <a slot="icon">
                <svg
                    class="dark:stroke-Custom_White stroke-black hover:dark:stroke-gray-50 hover:stroke-orange-700"
                    width="48"
                    height="48"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path
                        d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
                    ></path><path
                        d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10"
                    ></path><path d="M10 12l4 0"></path></svg
                >
            </a>
            <img
                slot="image"
                class="h-60 w-full rounded object-cover sm:h-80"
                src="/assets/info/taller.png"
                alt="Imagen del taller"
            />
        </InfoCard>
    </main>
</Layout>
