---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
// import { GeoMap } from "astro-geo-map";

// import { Map, Marker } from "@googlemaps/js-api-loader";
// import Image from "@astrojs/image";

// const apiKey = "AIzaSyCd0pctCPyM8uN3y9evYy9Erkq_dFDhmY8";
// const lat = 38.997924;
// const lng = -1.823231;
---

<Layout title="Performarce" current_page="Ubicacion">
  <h1
    class="text-center text-3xl dark:text-gray-300 pt-10 pb-5 text-Light_Orange font-bold"
  >
    Donde estamos
  </h1>
  <div class="w-full">
    <Map />
  </div>
</Layout>
