---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
---

<Layout title="Performarce" current_page="Ubicacion">
  <h1
    class="text-center text-3xl dark:text-gray-300 pt-10 pb-5 text-Light_Orange font-bold"
  >
    Donde estamos
  </h1>
  <div class="w-full">
    <Map />
  </div>
</Layout>
