---
import Layout from "../layouts/Layout.astro";
import OfertasCard from "../components/OfertasCard.astro";
---

<Layout title="Performarce" current_page="Ofertas Motos">
    <script></script>
    <h1
        class="dark:text-gray-300 text-center font-bold text-4xl my-5 text-Light_Orange"
    >
        Ofertas de Motos y Complementos
    </h1>
    <hr class="dark:border-gray-500 mx-10 border-black" />
    <main class="flex gap-16 justify-center flex-wrap my-10 mx-5">
        <ul id="lista-archivos"></ul>
    </main>
</Layout>
