---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Performarce" current_page="Ofertas">
    <style>
        .custom-text {
            color: white;
            text-shadow:
                -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black;
        }
    </style>
    <div
        class="flex-col md:flex-row h-[60vh] flex justify-center items-center md:animate-fade-in ease-in-out flex-wrap md:overflow-hidden"
    >
        <a
            href="/ofertas_moto"
            class="bg-black w-full md:w-1/2 h-1/2 md:h-full md:hover:scale-[1.22] transition-transform duration-200 flex justify-center items-center"
            style="clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%) "
        >
            <img
                class="blur-[2px]"
                src="/assets/fondos/oferta_moto.jpeg"
                alt=""
            />
            <h1 class="absolute font-bold text-5xl custom-text text-center">
                Motos y Complementos
            </h1>
        </a>
        <a
            href="/ofertas_forestal"
            class="bg-yellow-500 w-full md:w-1/2 h-1/2 md:h-full md:hover:scale-[1.22] transition-transform duration-150 flex justify-center items-center"
            style="clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%)"
        >
            <img
                class="blur-[2px]"
                src="/assets/fondos/oferta_forestal.jpg"
                alt=""
            />
            <h1
                class="absolute font-bold text-5xl custom-text rounded-xl px-10 text-center"
            >
                Jardineria y Forestal
            </h1>
        </a>
    </div>
</Layout>
