---

---

<head>
    <script
        async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd0pctCPyM8uN3y9evYy9Erkq_dFDhmY8&libraries=places&callback=initMap"
    ></script>
    <script src="../js/mapa.js"></script>
</head>
<main>
    <div
        id="map"
        class="h-[29rem] mx-10 md:mx-28 rounded-xl border-Custom_Blue border-2 hover:shadow-2xl flex"
    >
    </div>
</main>
