---
const { nombre, direccion } = Astro.props;
const nombre_sinExtention = nombre.replace(/\.pdf$/, "");
---

<div
    class="group relative bg-Light_Orange/90 dark:bg-Light_Orange rounded-xl p-2 flex flex-col justify-center items-center overflow-hidden hover:scale-105 transition-transform ease-in-out"
>
    <div
        class="group md:hidden block md:group-hover:block absolute md:group-hover:absolute bg-white/0 md:bg-white/50 w-full h-full"
    >
        <a href={direccion} target="_blank" class="h-full w-full">
            <div class="h-full w-full"></div>
        </a>
    </div>
    <iframe src={direccion} class="h-96 rounded-xl"></iframe>
    <h4
        class="dark:bg-gray-700/85 dark:text-gray-300 text-black bg-none border-[1px] border-black rounded-xl dark:border-none p-1 w-full text-center mt-1"
    >
        {nombre_sinExtention}
    </h4>
</div>
