---

---

<div>
    <h5>Has sido cliente?</h5>
    <p>Cual es tu nivel de satisfaccion?</p>
    <div class="grid grid-cols-3">
        <button>a</button>
        <button>b</button>
        <button>b</button>
    </div>
</div>
